{% extends "_base.html" %}
{% load staticfiles %}
{% block  title %}资产详情{% endblock %}
{% block custom_css %}

{% endblock %}


{% block  content %}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>资产详情</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{% url 'index' %}">总览</a>
                </li>
                <li>
                    <a href="{%  url 'asset:asset_list' %}">资产管理</a>
                </li>
                <li class="active">
                    <strong>资产详情</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="panel-options">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a class="text-center"><i class="fa fa-laptop"></i>资产详情</a>
                            </li>
                            {% if request.user.is_superuser %}
                            <li class="pull-right">
                                <a class="btn btn-outline btn-default" href="{% url 'asset:asset_update' detail_list.id %} "><i
                                        class="fa fa-edit"></i>编辑</a>
                            </li>
                            <li class="pull-right">
                                <a class="btn btn-outline btn-danger  asset_del">
                                    <i class="fa fa-edit " ></i>删除
                                </a>
                            </li>
                        {% endif %}
                        </ul>

                    </div>
                    <div class="tab-content">
                        <div class="col-sm-7" style="padding-left: 0">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <span class="label"><b>{{ detail_list.hostname }}</b></span>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-user">
                                        </ul>
                                        <a class="close-link">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">

                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td  width="20%">资产ID:</td>
                                            <td ><b>{{ detail_list.id }}</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td  width="20%">主机名:</td>
                                            <td "><b>{{ detail_list.hostname }}</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="20%">内网IP:</td>
                                            <td><b>{{ detail_list.inner_ip }}</b>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td width="20%">外网IP:</td>
                                            <td><b>{{ detail_list.pub_ip }}</b></td>
                                        </tr>


                                        <tr>
                                            <td width="20%">端口号:</td>
                                            <td><b>{{ detail_list.port }}</b></td>
                                        </tr>

                                        <tr>
                                            <td width="20%">内存:</td>
                                            <td><b>{{ detail_list.mem_total }}</b></td>
                                        </tr>
                                                                <tr>
                                            <td width="20%">磁盘:</td>
                                            <td><b>{{ detail_list.disk_total }}</b></td>
                                        </tr>
                                                                <tr>
                                            <td width="20%">CPU型号:</td>
                                            <td><b>{{ detail_list.cpu_model }}</b></td>
                                        </tr>
                                                                <tr>
                                            <td width="20%">系统版本:</td>
                                            <td><b>{{ detail_list.osfinger }}</b></td>
                                        </tr>
                                        <tr>
                                            <td width="20%">CPU核数:</td>
                                            <td><b>{{ detail_list.num_cpus }}</b></td>
                                        </tr>
                                               <tr>
                                            <td width="20%">MAC地址:</td>
                                            <td><b>{{ detail_list.mac_addr }}</b></td>
                                        </tr>
                                                   <tr>
                                            <td width="20%">DNS地址:</td>
                                            <td><b>{{ detail_list.dns }}</b></td>
                                        </tr>
                                               <tr>
                                            <td width="20%">内核版本:</td>
                                            <td><b>{{ detail_list.kernelrelease }}</b></td>
                                        </tr>
                                               <tr>
                                            <td width="20%">序列号:</td>
                                            <td><b>{{ detail_list.serialnumber }}</b></td>
                                        </tr>
                                               <tr>
                                            <td width="20%">虚拟化:</td>
                                            <td><b>{{ detail_list.virtual }}</b></td>
                                        </tr>
                                                   <tr>
                                            <td width="20%">状态:</td>
                                            <td><b>{{ detail_list.status }}</b></td>
                                        </tr>
                                                   <tr>
                                            <td width="20%">产品线:</td>
                                            <td><b>{{ detail_list.product.name }}</b></td>
                                        </tr>
                                                   <tr>
                                            <td width="20%">云平台:</td>
                                            <td><b>{{ detail_list.cloud_platform.cloud }}</b></td>
                                        </tr>
                                                      <tr>
                                            <td width="20%">系统用户:</td>
                                            <td><b>{{ detail_list.system_user }}</b></td>
                                        </tr>
                                        <tr>
                                            <td width="20%">标签:</td>
                                            {% for tag in asset.tag.all %}
{#                                            <td><b>{{ tag.name }}</b></td>#}
                                               <td class="label label-primary ">{{ tag.name }}</td>
                                            {% empty %}
                                            {% endfor %}

                                        </tr>
                                                         <tr>
                                            <td width="20%">备注:</td>
                                            <td><b>{{ detail_list.detail }}</b></td>
                                        </tr>
                                                        <tr>
                                            <td width="20%">创建时间:</td>
                                            <td><b>{{ detail_list.create_time }}</b></td>
                                        </tr>
                                                             <tr>
                                            <td width="20%">更新时间:</td>
                                            <td><b>{{ detail_list.update_time }}</b></td>
                                        </tr>


{#                                        <tr>#}
{#                                            <td width="20%">是否管理员:</td>#}
{#                                            <td><b>{% if detail_list.is_superuser == 1 %}是{% else %}否{% endif %}</b></td>#}
{#                                        </tr>#}
{#                                        <tr>#}
{#                                            <td width="20%">是否激活:</td>#}
{#                                            <td><b>{% if detail_list.is_active == 1 %}是{% else %}否{% endif %}</b></td>#}
{#                                        </tr>#}


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-5" style="padding-left: 0;padding-right: 0">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <i class="fa fa-info-circle"></i> 快速修改
                                </div>
                                <div class="panel-body">
                                    <table class="table">
                                        <tbody>


                                        </tbody>
                                    </table>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

    {% block footer_js %}
        <script>
            $(function () {
                $('.asset_del').click(function () {
                    swal({
                        title: "你确定删除",
                        text: "你将无法恢复",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "确定",
                        closeOnConfirm: false
                    }, function () {
                        $.ajax({
                            url: "{% url 'asset:del_asset'  %}",
                            type: 'POST',
                            data: {'nid': {{ detail_list.id }}},
                            success: function (data) {

                                var obj = JSON.parse(data);
                                if (obj.status) {
                                    swal({title: "删除", text: "已成功删除", type: "success"}, function () {
                                        location.href = "{% url "asset:asset_list" %}"
                                    })
                                } else {
                                    swal("错误", "删除" + "[ " + obj.error + " ]" + "遇到错误", "error");
                                }
                            }
                        });


                    });
                });

            });
        </script>
    {% endblock %}

