
{% extends '_base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
    {% block title %}DtOps | 更新系统用户{% endblock %}
   {% block custom_css %}
    <link href="{% static 'css/plugins/iCheck/custom.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css' %}" rel="stylesheet">
    {% endblock %}
{% block content %}
            <div class="row  white-bg ">
                <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="panel-options">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="" class="text-center">更新系统用户 </a>
                            </li>
                        </ul>
                    </div>
                  <div class="hr-line-dashed"></div>      {# 中间加条横线#}
                        <div class="ibox-content " style="background-color: #ffffff">
                        <div class="wrapper wrapper-content animated fadeInRight">
                            <form method="post" action="{% url 'asset:sysuser_update' sysuser_update.id %}"  enctype="multipart/form-data" class="form-horizontal">
                                {% csrf_token %}
                                 {% if form.no_field_errors %}
                                        <div>{{ form.no_field_errors }}</div>
                                {% endif %}
                                <div class="hr-line-dashed"></div>
                               <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-0">
{#                                        {{ msg }}#}
                                        {% bootstrap_field form.name layout="horizontal" %}
                                        {% bootstrap_field form.username layout="horizontal" %}
                                        {% bootstrap_field form.password layout="horizontal" %}
                                         {% bootstrap_field form.detail layout="horizontal" %}



                                    </div>
                                </div>
                              <div class="hr-line-dashed"></div>      {# 中间加条横线#}
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-2">
                                        <button class="btn btn-white" type="submit">取消</button>
                                        <button class="btn btn-primary" type="submit">保存更改</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </div>
      {% endblock %}


{% block footer_js %}
    <!-- iCheck -->
    <script src="{% static 'js/plugins/iCheck/icheck.min.js' %}"></script>
        <script>
            $(document).ready(function () {
                $('.i-checks').iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green',
                });
            });
        </script>
{% endblock %}