{% load staticfiles %}
        <div class="row border-bottom">
        <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <span class="m-r-sm text-muted welcome-message">欢迎来到网豫游戏管理后台</span>
                </li>
                  <li class="dropdown ">
                            <a data-toggle="dropdown" class="dropdown-toggle"  href="#">
                             <span class="text-muted text-xs block font-size: 13px;font-weight: 400">{{ request.user.nick_name }}({{ request.user.username }}) <b class="caret"></b></span> </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="profile.html">修改密码</a></li>
                                <li><a href="{% url 'users:logout' %}">登出</a></li>
                            </ul>
                    </li>
            </ul>

        </nav>
              </div>